* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: none;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --cor_clara: #f4f4f4;
  --cor_escura: #dfdfdf;
}

html {
  width: 100dvw;
  height: 100dvh;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fffdf2;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color:black ;
  flex-grow: 1;
}
header h1 {
  font-weight: 100;
  background-color: black;
  color: white;
  width: 25%;
  text-align: center;
  font-size: 2em;
}
header nav input, header nav button {
  background-color: black;
  color: white;
  border: none;
  text-align: center;
  font-size: 2em;
}
header nav input {
  margin: 0 45px 0 0;
  width: 250px;
}
header nav input:focus {
  border: none;
  outline: none;
}
header nav button {
  padding: 0 5px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}
section h1 {
  font-weight: 100;
  background-color: var(--cor_escura);
  width: 25%;
  text-align: center;
  font-size: 2em;
}

main {
  display: flex;
  flex-grow: 15;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main #resultado_img {
  height: 90%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #resultado_infos {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main #resultado_infos p {
  width: 100%;
  background-color: var(--cor_escura);
  font-size: 2em;
  text-align: center;
}
main #resultado_infos .btns_result {
  display: flex;
  justify-content: space-between;
}
main #resultado_infos .btns_result button {
  background-color: var(--cor_escura);
  font-size: 2em;
  border: none;
  padding: 10px;
}
#imgresultado
{
  height: 90%;
  width: 100%;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

main {
  flex-direction: column;
  align-items: center;
}
img {
  width: 280px;
  height: 280px;
  margin-top: 20px;
}
section > p {
  margin-top: 20px;
  margin-bottom: 10px;
}
}

@media (max-width: 800px) {
  header
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header h1 {
    /* margin-left: 0; */
    width: 100%;
    font-size: 18px;
  }
  header nav
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav input
  {
    margin: 0;
  }
  nav input{
    width: 100%;
    border: 1px solid white;
    outline: 1px solid white;
  }
  nav button
  {
    width: 100%;
    outline: 1px solid white;
  }
  img {
    width: 220px;
    height: 220px;
  }
  section > p {
    width: 160px;
    font-size: 13px;
  }
  section
  {
    flex-grow: 1;
  }
  section h1
  {
    width: 100%;
  }
  button {
    width: 45px;
    height: 45px;
  }
  main #resultado_img
  {
    width: 100%;
  }
  main #resultado_infos
  {
    width: 100%;
    gap: 15px;
  }
}